@use "colors" as c;
@use "basic" as b;

.booking{
    &__wrap{
        padding: 16rem 0;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
    &__head{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        max-width: 50rem;
    }
    &__header{
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
    }
    &__subheader{
        font-size: 2rem;
    }
    form{
        display: flex;
        width: 50rem;
        flex-direction: column;
        label{
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
        &::placeholder{
            color: #6A6A6A;
            font-size: 1.6rem;
        }
        input{
            border-radius: 10px;
            background: #434343;
            border: none;
            font-size: 1.6rem;
            outline: none;
            padding: 1.6rem;
            width: 100%;
            transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
            &:focus{
                outline: none;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        .booking__submit{
            margin: 0 auto;
            margin-top: 2rem;
            margin-bottom: 0;
            border-radius: 22px;
            background: c.$orange;
            padding: 1.4rem 6rem;
            font-size: 1.6rem;
            color: c.$white;
            width: fit-content;
        }
    }
}
.input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .input:focus {
    outline: none;
  }
  
  .input:focus + .input-border {
    width: 100%;
  }
  
  .form-control {
    position: relative;
    --width-of-input: 300px;
    margin-bottom: 2rem;
  }
  
  .input-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-border-alt {
    height: 3px;
    background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
  }
  
  .input-alt:focus + .input-border-alt {
    width: 100%;
  }
@media (max-width: 1000px) {
  .booking{
    &__wrap{
      padding: 10rem 0;
    }
    &__header{
      text-align: left;
    }
    &__subheader{
      width: 100%;
      text-align: left;
    }
    &__form-wrap{
      width: 100%;
    }
    form{
      width: 100%;
    }
  }
}