@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Regular.eot');
    src: local('../Gilroy Regular'), local('Gilroy-Regular'),
        url('../font/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Regular.woff2') format('woff2'),
        url('../font/Gilroy-Regular.woff') format('woff'),
        url('../font/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Bold.eot');
    src: local('../font/Gilroy Bold'), local('Gilroy-Bold'),
        url('../font/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Bold.woff2') format('woff2'),
        url('../font/Gilroy-Bold.woff') format('woff'),
        url('../font/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Light.eot');
    src: local('../font/Gilroy Light'), local('Gilroy-Light'),
        url('../font/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Light.woff2') format('woff2'),
        url('../font/Gilroy-Light.woff') format('woff'),
        url('../font/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Semibold.eot');
    src: local('../font/Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../font/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Semibold.woff2') format('woff2'),
        url('../font/Gilroy-Semibold.woff') format('woff'),
        url('../font/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Medium.eot');
    src: local('../font/Gilroy Medium'), local('Gilroy-Medium'),
        url('../font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Medium.woff2') format('woff2'),
        url('../font/Gilroy-Medium.woff') format('woff'),
        url('../font/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}