@use "colors" as c;
@use "basic" as b;

.format{
    position: relative;
    padding: 16rem 0;
    &__wrap{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    &__header{
        font-weight: 600;
        font-size: 4rem;
        text-align: center;
    }
    &__blocks{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }
    &__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 30px;
        background: rgba(244, 244, 244, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        width: 192px;
        svg{
            transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &:hover{
            svg{
                transform: scale(1.2);
            }
        }
    }
    &__name{
        font-size: 25px;
        font-weight: 600;
    }
    &::after{
        content: '';
        position: absolute;
        width: 428px;
        top: 185px;
        height: 624px;
        right: 0;
        background: url('../img/gc-format-green.webp') no-repeat;
        background-size: contain;
        filter: blur(200px);
        -webkit-filter: blur(200px);
        transform: translate3d(0, 0, 0);
        z-index: -1;
    }
    &::before{
        content: '';
        position: absolute;
        right: 0;
        width: 578px;
        height: 622px;
        top: 96px;
        background: url('../img/gc-format-hexa.svg') no-repeat;
        background-size: contain;
    }
}
@media (max-width:1000px) {
    .format{
        padding: 10rem 0;
        &__name{
            font-size: 2.4rem;
        }
        &__block{
            flex-direction: row;
            padding: 2rem;
            width: initial;
            flex: 1 1 auto;
            &:nth-child(1){
                svg{
                    width: 4.3rem;
                    height: 4rem;
                }
            }
            &:nth-child(2){
                svg{
                    width: 4rem;
                    height: 4rem;
                }
            }
            &:nth-child(3){
                svg{
                    width: 3.1709rem;
                    height: 4rem;
                }
            }
            &:nth-child(4){
                svg{
                    width: 2.3099rem;
                    height: 4rem;
                }
            }
            &:nth-child(5){
                margin-right: auto;
                flex: initial;
                svg{
                    width: 3.3333rem;
                    height: 4rem;
                }
            }
        }
        &__blocks{
            flex-wrap: wrap;
        }
        &::before{
            width: 35.2rem;
            height: 55.1rem;
            background-size: cover;
            top: 50%;
        }
        &::after{
            top: 100%;
        }
    }
}