@use "colors" as c;
@use "basic" as b;

.header{
    position: fixed;
    top: 4rem;
    width: 100%;
    z-index: 99999;
    &__wrap{
        align-items: center;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(3rem);
        border-radius: 50rem;
        padding: 2rem 3rem;
    }
    &__nav{
        display: flex;
        gap: 4rem;
    }
    &__link,
    &__lang{
        @include b.fs16;
        transition: b.$t05;
        &:hover{
            color: c.$orange;
        }
    }
    &__lang.active{
        color: c.$orange
    }
    &__right{
        display: flex;
        gap: 4rem;
        align-items: center;
    }
    &__languages{
        display: flex;
    }
    &__lang:nth-child(even){
        padding: 0 1.4rem;
        border-left: 0.1rem solid c.$white;
        border-right: 0.1rem solid c.$white;
    }
    &__lang:first-child{
        padding-right: 1.4rem;
    }
    &__lang:last-child{
        padding-left: 1.4rem;
    }
    &__sale{
        @include b.fs16;
        background-color: c.$orange;
        padding: 1rem 3rem;
        border-radius: 2rem;
        transition: b.$t1;
        box-shadow: 0px 0.8rem 1rem rgba(0, 0, 0, 0.25);
        &:hover{
            box-shadow: none;
        }
    }
}
@media (max-width:1000px) {
    .header{
        // height: 100vh;
        &__socials{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 4rem;
        }
        &__item a{
            width: 6rem;
            height: 6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #333333;
            border-radius: 50rem;
            transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
            svg{
                transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
            &:hover{
                background-color: initial;
                svg{
                    transform: scale(1.6);
                }
            }
        }
        &__item{
            &:nth-child(1) svg{
                height: 24px;
                width: 14px;
            }
            &:nth-child(2) svg{
                height: 24px;
                width: 24px;
            }
            &:nth-child(3) svg{
                height: 24px;
                width: 19px;
            }
            &:nth-child(4) svg{
                height: 24px;
                width: 24px;
            }
            &:nth-child(5) svg{
                height: 17px;
                width: 24;
            }
            &:nth-child(6) svg{
                height: 24px;
                width: 28px;
            }
        }
        &__languages{
            justify-content: center;
            padding-bottom: 4rem;
            border-bottom: 1px solid c.$white ;
        }
        &__lang{
            font-size: 2.5rem;
            font-weight: 700;
        }
        &__nav{
            flex-direction: column;
            align-items: center;
            padding-bottom: 4rem;
            border-bottom: 1px solid c.$white ;
            a{
                font-size: 2.5rem;
            }
        }
        &__tosale{
            display: flex;
            justify-content: center;
            padding-bottom: 4rem;
            border-bottom: 1px solid c.$white ;
            a{
                font-size: 2.5rem;
                padding: 1.5rem 4rem;
                border-radius: 5rem;
            }
        }
        &__burger,
        &__logotype{
            position: relative;
            z-index: 999999;
        }
        &__container-l{
            padding: 0 2rem;
            position: relative;
        }
        &__logotype img{
            width: 18rem;
            height: 3.8rem;
        }
        &__wrap{
            padding: 1.5rem 2.5rem;
        }
        &__mobile{
            position: absolute;
            opacity: 0;
            overflow-y: scroll;
            top: 0;
            left: 0;
            transition: 1s;
            transform: translateX(-100%);
            width: 100vw;
            background-color: #222222;
            padding: 6rem 2rem;
            padding-top: 15rem;
            z-index: 99999;
            // left: -2rem;
            top: -4rem;
            height: 1000px;
            pointer-events: none;
            display: flex !important;
            flex-direction: column;
            gap: 4rem;
        }
        &__mobile.on{
            transform: none;
            pointer-events: all;
            opacity: 1;
        }
    }
    #checkbox {
        display: none;
      }
      
      .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 10px;
        transition-duration: .3s;
      }
      .bars:nth-child(2){
      width:60%
      }
      .bars {
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 5px;
        transition-duration: .3s;
      }
      
      #checkbox:checked + .toggle .bars {
        margin-left: 13px;
      }
      
      #checkbox:checked + .toggle #bar2 {
        transform: rotate(135deg);
        margin-left: 0;
        opacity: 0;
        transform-origin: center;
        transition-duration: .3s;
      }
      
      #checkbox:checked + .toggle #bar1 {
        transform: rotate(45deg);
        transition-duration: .3s;
        transform-origin: left center;
      }
      
      #checkbox:checked + .toggle #bar3 {
        transform: rotate(-45deg);
        transition-duration: .3s;
        transform-origin: left center;
      }
}