@use "colors" as c;
@use "basic" as b;

.hero{
    &::after{
        content: '';
        position: absolute;
        width: 488.77px;
        height: 581.18px;
        left: 0;
        top: 278.67px;
        background: url('../img/gc-hero-green.webp') no-repeat;
        background-size: contain;
        filter: blur(200px);
        -webkit-filter: blur(200px);
        transform: translate3d(0, 0, 0);
        z-index: -1;
    }
    &::before{
        content: '';
        position: absolute;
        width: 800px;
        height: 636px;
        left: 669px;
        bottom: 0px;
        background: url('../img/gc-hero-collage.webp') no-repeat;
        background-size: contain;
    }
    background: url('../img/gc-hero-bg.webp') no-repeat top;
    background-size: cover;
    &__wrap{
        display: flex;
        padding: 12rem 0;
        height: 100vh;
        flex-direction: column;
        gap: 12rem;
        a{
            width: max-content;
            margin: 0 auto;
        }
    }
    &__intro{
        max-width: 60rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding-top: 16rem;
    }
    &__header{
        font-weight: 700;
        font-size: 6rem;
        line-height: 110%;
    }
    &__paragraph{
        font-size: 3rem;
    }
    &__more{
        animation: wave 2s ease-in-out infinite;
        margin: 0 auto;
        display: flex;
        transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        &:hover{
            background-color: c.$orange;
        }
        justify-content: center;
        gap: 20px;
        align-items: center;
        padding: 10px;
        padding-right: 22px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        border-radius: 30px;
        &-text{
            font-size: 2rem;
        }
    }
    @keyframes wave {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px); /* Adjust the vertical distance as needed */
        }
        100% {
          transform: translateY(0);
        }
      }
}

@media (min-width:1600px) {
    .hero::before{
        left: 50%;
    }
    .hero__wrap{
        height: initial;
    }
}
@media (max-width:1200px) {
    .hero{
        &__intro{
            padding-top: 10rem;
        }
        &__wrap{
            align-items: center;
        }
        background-size: 220%;
        &::after{
            display: none;
        }
        &::before{
            left: 50%;
            transform: translateX(-50%);
            top: 50%;
            
        }
        &__wrap{
            height: initial;
            padding-top: 4rem;
            a{
                margin-top: 14rem;
            }
        }
        &__header{
            font-size: 4rem;
            text-align: center;
        }
        &__paragraph{
            font-size: 2rem; 
            text-align: center;
        }
    }
}
@media (max-width:700px) {
    .hero{
        &::before{
            background: url('../img/gc-mob-collage.webp') no-repeat;
        background-size: contain;
        }
    }
}