@use "colors" as c;
@use "basic" as b;

.last{
    &::after{
      content: '';
      position: absolute;
      width: 47.1rem;
      height: 61.5rem;
      right: 0;
      top: -5rem;
      background: url('../img/gc-last-gradi.svg') no-repeat;
      background-size: contain;
      filter: blur(200px);
      -webkit-filter: blur(200px);
      transform: translate3d(0, 0, 0);
      z-index: -1;
    }
    &__wrap{
        padding: 16rem 0;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
    &__head{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        max-width: 50rem;
    }
    &__header{
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
    }
    &__subheader{
        font-size: 2rem;
    }
    &__superwrap{
      width: 100%;
      border-radius: 30px;
      background: var(--mid-dark-grey, #333);
      padding: 4rem;
      display: flex;
      align-items: center;
      gap: 4rem;
    }
    &__left,
    &__right{
      flex: 1 1 0px;
    }
    &__left .form-control{
      margin-top: 1rem;
    }
    &__right{
      display: flex;
      flex-direction: column;
      height: 25rem;
      textarea{
        border-radius: 10px;
        background: var(--dark-grey, #434343);
        padding: 1.6rem;
        border: 0;
        height: 100%;
        color: c.$white;
        outline: none;
      }
    }
    &__form-wrap{
      width: 100%;
    }
    form{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 4rem;
        label{
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
        &::placeholder{
            color: #6A6A6A;
            font-size: 1.6rem;
        }
        textarea{
          font-size: 1.6rem;
        }
        input{
          font-size: 1.6rem;
            border-radius: 10px;
            background: #434343;
            border: none;
            outline: none;
            padding: 1.6rem;
            width: 100%;
            transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
            &:focus{
                outline: none;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        .booking__submit{
            margin: 0 auto;
            margin-top: 2rem;
            margin-bottom: 0;
            border-radius: 22px;
            background: c.$orange;
            padding: 1.4rem 6rem;
            font-size: 1.6rem;
            color: c.$white;
            width: fit-content;
        }
    }
}
.input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .input:focus {
    outline: none;
  }
  
  .input:focus + .input-border {
    width: 100%;
  }
  
  .form-control {
    position: relative;
    --width-of-input: 300px;
    margin-bottom: 2rem;
  }
  
  .input-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-border-alt {
    height: 3px;
    background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
  }
  
  .input-alt:focus + .input-border-alt {
    width: 100%;
  }
@media (max-width: 1200px) {
  .last{
    &__wrap{
      padding: 10rem 0;
    }
    &__header{
      text-align: left;
    }
    &__subheader{
      text-align: left;
      width: 100%;
    }
    &__superwrap{
      flex-direction: column;
      padding: 2rem;
      gap: 0;
    }
    &__right{
      width: 100%;
    }
    &__left{
      width: 100%;
    }
    form textarea{
      width: 100%;
    }
  }
}