.popup {
    position: fixed;
    pointer-events: none;
    bottom: 3rem;
    right: 3rem;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 2rem;
    p{
      font-family: Gilroy;
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      position: absolute;
      top: 2rem;
      left: 3rem;
    }
    img{
        width: 27.9rem;
        height: 24.2rem;
    }
    svg{
      position: absolute;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
    }
  }
  
  .popup.show {
    opacity: 1;
    pointer-events: all;
  }

