@use "colors" as c;
@use "basic" as b;

.review{
    &__wrap{
        display: block;
        padding: 16rem 0;
    }
    &__header{
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 8rem;
    }
    &__title{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    &__slide-wrap{
        position: relative;
        display: flex;
        max-width: 800px;
        max-height: 300px;
        border-radius: 30px;
        background-color: #333;
        padding: 1rem;
    }
    &__prev,
    &__next{
        position: absolute;
        bottom: 8rem;
        cursor: pointer;
        transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &__prev:hover,
    &__next:hover{
        transform: scale(1.1);
    }
    &__prev{
        left: 45%;
    }
    &__next{
        right: 45%;
    }
    &__left{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;padding-right: 5rem;
    }
    &__right{
        padding: 6.75rem 6rem;
        max-width: 42rem;
        background-color: #434343;
        border-radius: 30px;
    }
    &__text{
        font-size: 2rem;
        font-weight: 400;
        line-height: 120%;
        color: #A4A4A4;
        span{
            font-weight: 600;
            color: #fff;
        }
    }
    &__avatar img{
        width: 6rem;
        height: 6rem;
        border-radius: 1rem;
    }
    &__name{
        white-space: nowrap;
        font-size: 2rem;
        line-height: 120%;
    }
    &__position{
        color: #A4A4A4;
        font-size: 2rem;
        line-height: 120%;
    }
    &__bio{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__country,
    &__experience,
    &__company{
        display: flex;
        font-size: 1.6rem;
        line-height: 120%;
        gap: 1rem;
        span{
            color: #A4A4A4;
        }
    }
    
}
.review__slide-wrap{
    opacity: 0.5;
    transform: scale(0.9);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slick-center{
    .review__slide-wrap{
        transform: scale(1);
        opacity: 1;
    }
}