@use "colors" as c;
@use "basic" as b;

.tabs {
    &::before{
        content: '';
        position: absolute;
        width: 50.8rem;
        height: 66.9rem;
        background: url('../img/gc-gallary-hexa.svg') no-repeat;
        background-size: contain;
        z-index: -1;
        top: 39.6rem;
        left: 0;
    }
    &__head {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        padding-bottom: 6rem;
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 3rem;
        border-top: 1px solid #6A6A6A;
    }
    &__head-item {
        font-size: 1.6rem;
        padding: 1.4rem 3rem;
        font-weight: 600;
        border-radius: 22px;
        border: none;
        background-color: #6A6A6A;
        color: c.$white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &.active {
            background-color: c.$green;
        }
    }
    &__content {
        left: 0;
      .tabs__content-item {
        display: none;
        &.active {
          display: block;
          flex-direction: column;
          gap: 2rem;
          overflow-x: scroll;
          padding-bottom: 2rem;
                /* For WebKit browsers (Chrome, Safari) */
                &::-webkit-scrollbar {
                    width: 5px;
                    height: 10px;
                    /* Adjust the width as needed */
                }
                
                &::-webkit-scrollbar-thumb {
                    background-color: c.$green;
                    border-radius: 5rem;
                }
                
                &::-webkit-scrollbar-thumb:hover {
                    background-color: c.$green;
                }
                
                /* For Firefox */
                /* Please note that scrollbar-color property is available from Firefox 64+ */
                /* For earlier versions, scrollbar styling is limited */
                    scrollbar-color: c.$green;
                
                    &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
                
                &::-webkit-scrollbar-thumb {
                    background-color: c.$green;
                }
                
                &::-webkit-scrollbar-thumb:hover {
                    background-color: c.$green;
                }
        }
      }
    }
    &__heading{
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
    &__wrap{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 160px 0px;
        &.is-inview::before{
            content: '';
            height: 2px;
            width: 100%;
            background-color: #00b9a7;
            position: absolute;
            bottom: 163px;
        }
    }
    &__header{
        font-size: 40px;
        font-weight: 600;
        max-width: 42.4rem;
        padding-bottom: 3rem;
    }
    &__shelf{
        display: flex;
        align-items: center;
        gap: 2rem;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        &:first-child{
            padding-left: 1rem;
            margin-bottom: 2rem;
        }
        &:last-child{
            transform: translateX(-100px);
        }
        img{
            width: 200px;
            height: 200px;
            border-radius: 30px;
        }
    }
  }
@media (max-width: 1200px) {
    .tabs{
        &__wrap{
            padding: 10rem 0;
            &.is-inview::before{
                content: none;
            }
        }
        &__header{
            padding: 0 2rem 2rem 2rem;
        }
        &__head{
            padding: 2rem 2rem 6rem 2rem;
            flex-wrap: wrap;
            gap: 1rem;
            &-item{
                padding: 1.2rem 1.6rem;
                flex: 1 1 auto;
                font-size: 1.5rem;
            }
        }
    }
}