@use "colors" as c;
@use "basic" as b;

.why{
    &::before{
        transform: rotate(56.865deg);
        content: '';
        position: absolute;
        width: 54.8522rem;
        top: -20rem;
        height: 65.223rem;
        background: url('../img/gc-why-gradi.webp') no-repeat;
        background-size: contain;
        filter: blur(250px);
        -webkit-filter: blur(250px);
        transform: translate3d(0, 0, 0);
        z-index: -2;
        left: -40rem;
    }
    &::after{
        width: 54.8rem;
        height: 67.7rem;
        content: '';
        right: 0;
        top: 70rem;
        z-index: -1;
        position: absolute;
        background: url('../img/gc-why-hexa.svg') no-repeat;
        background-size: contain;

    }
    &__wrap{
        padding: 16rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8rem;
    }
    &__head{
        max-width: 56.6rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }
    &__header{
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
    }
    &__subtitle{
        text-align: center;
        font-size: 2rem;
        font-family: Gilroy;
        font-weight: 500;
        line-height: 120%;
    }
    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16rem;
    }
    &__item{
        display: flex;
        width: 100%;
        gap: 10rem;
        align-items: center;
        &:first-child{
            img{
                width: 42.4rem;
            }
        }
        &:nth-child(even){
            flex-direction: row-reverse;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4){
            img{
                width: 50rem;
            }
        }
    }
    &__parapgrpah{
        font-size: 3rem;
        font-weight: 600;
        line-height: 110%;
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5.5rem;
        a{
            padding: 1.4rem 3rem;
            border-radius: 22px;
            font-weight: 600;
            font-size: 1.6rem;
            background-color: c.$orange;
        }
    }
}